* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
    width: 100%;
    height: 100;
    background-color: rgb(222, 218, 213);
}

.table {
    width: 100%;
    height: 100%;
}

.cell {
    --cell-border-thickness: 2px;
    --cell-border-color: rgb(55, 55, 55);
    display: inline;
    border-right: solid var(--cell-border-thickness) var(--cell-border-color);
    border-bottom: solid var(--cell-border-thickness) var(--cell-border-color);
    width: 100%;    
    padding: 5px;
}

.firstRow{
    border-top: solid var(--cell-border-thickness) var(--cell-border-color);
}

.firstCell{
    border-left: solid var(--cell-border-thickness) var(--cell-border-color);
}

.cellContainer{
    margin: 10px;
}

.row {
    display: flex;
}

.currTasks{
    border: none;
    border-left: solid black 3px;
    border-bottom: solid orangered 3px;
}

.currDate {
    width: 16.55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    border-bottom: solid black 3px;
    user-select: none;
}

.currDateContainer {
    padding: 15px;
    font-size: 24px;
    font-weight: bolder;
}

.menu {
    display: flex;
    height: 70px;
    background: rgb(0, 0, 0);
    justify-content: space-between;
    align-items: center;
}

.profile {
    font-family: 'Ubuntu', sans-serif;
    color: white;
    padding: 15px;
    font-size: 22px;
}

.loginBtn {
    font-family: 'Ubuntu', sans-serif;
    display: inline-block;
    font-size: 22px;
    color: white;
    padding: 5px;
    background-color: orangered;
    border-radius: 15px;
    margin-right: 10px;
    user-select: none;
}

.functionalRow{
    margin-bottom: 15px;
}