* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
    width: 100vw;
    height: 100vh;
}

.table {
    width: 100%;
    height: 100%;
}

.cell {
    border: solid 1px rgb(167, 167, 167);
    width: 100%;
    height: 15vh;
}

.row {
    display: flex;
}

.currDate {
    width: 16.55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.currDateContainer {
    padding: 15px;
    font-size: 24px;
    font-weight: bolder;
}

.menu {
    display: flex;
    height: 70px;
    background: rgb(0, 0, 0);
    justify-content: space-between;
    align-items: center;
}

.profile {
    font-family: 'Ubuntu', sans-serif;
    color: white;
    padding: 15px;
    font-size: 22px;
}

.loginBtn {
    font-family: 'Ubuntu', sans-serif;
    display: inline-block;
    font-size: 22px;
    color: white;
    padding: 5px;
    background-color: orangered;
    border-radius: 15px;
    margin-right: 10px;
}