*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(17, 17, 17);
}

.page{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.settings{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
}

.settings div{
    padding-left: 10px;
}

.setting_frame{
    display: flex;
    flex-direction: column;
    border-left: 3px solid orangered;
    flex-grow: 6;
}

.user{
    border-bottom: 2px solid black;
    font-size: 30px;
    color: white;
    padding-top: 10px;
    padding-bottom: 15px;
}

.setting{
    border-bottom: 2px solid black;
    font-size: 20px;
    color: white;
    padding: 10px 0;
    user-select: none;
}

.not-aviable-setting{
    color: rgba(128, 128, 128, 0.562);
}

.day{
    display: flex;
    flex-direction: column;
    margin: 10px 20px;
}

.dayInfo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.dayOfWeek{
    font-size: 20px;
    padding: 5px;
    color: white;
}

.addToScheduleBtn{
    margin-left: 10px;
    font-size: 25px;
    color: red;
    user-select: none;
}

.subject{
    display: inline-block;
    font-size: 16px;
    color: white;
    padding: 10px;
    font-style: italic;
}
